@import url('https://fonts.googleapis.com/css?family=Quando');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', 'Quando';
  font-size: 18px;

}

@media (min-width: 600px) {
  * {
    font-size: 18px;
  }
}
