<h1 class="d-flex justify-content-center">Create a new Article</h1>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" placeholder="Title of Article" required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" rows="25" placeholder="Article Content" required></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" placeholder="Seperate each tag with a comma" required>
  </div>
  <button type="submit" class="btn btn-primary mb-3" style="width: 100%;">Post Article</button>
</form>
