<!-- TODO Improve U.I. -->
<div class="card mx-auto" style="max-width: 400px; border: none;">
  <a routerLink="/articles/{{article.urlIdentity}}">
    <div class="card-img-wrapper">
      <img src="{{'./assets/default.jpg'}}" alt="{{article.title}}" class="card-img-top">
    </div>
  </a>

  <div class="card-body p-1 mt-1 ms-1">
    <a routerLink="/articles/{{article.urlIdentity}}"><h6 class="card-title mb-1">{{article.title}}</h6></a>
  </div>

  <div class="ms-2">
    <small class="card-text author font-weight-bold" routerLink="/users/{{article.authorPublicName}}">
      {{article.authorPublicName}}
    </small>
    |
    <small class="card-text text-muted">
      {{article.dateCreated | date}}
    </small>
  </div>
</div>
