<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" routerLink="/">Blog Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <button *ngIf="(accountService.currentUser$ | async) as user" class="btn btn-sm btn-info m-1" routerLink="new-article">New Article</button>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    <button *ngIf="(accountService.currentUser$ | async)" class="btn btn-sm btn-danger ml-2" (click)="accountService.logout()">Logout?</button>
  </div>
</nav>
