<div class="container mt-2" *ngIf="(accountService.currentUser$ | async)">
  <h1 class="d-flex justify-content-center">Already logged in</h1>
  <div class="row justify-content-center mt-3">
    <button class="btn btn-danger" style="width:50%;" (click)="logout()">Logout?</button>
  </div>
</div>

<div *ngIf="(accountService.currentUser$ | async) === null" class="container text-center mt-2">
  <h1>Please enter your Username and Password</h1>
  <div class="d-flex justify-content-center mt-4">
    <form  #loginForm="ngForm" (ngSubmit)="login()"
    autocomplete="off">
    <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control"
            type="text"
            placeholder="Username"
            style="width:300px;">
    <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mt-1"
            type="password"
            placeholder="Password"
            style="width:300px;">
    <button class="btn btn-success my-2" type="submit" style="width:50%">Login</button>
    </form>
  </div>
</div>
