<div class="card mb-3 mx-auto" style="max-width: 1200px; border: none;">
  <div class="row no-gutters">
    <div class="col my-auto card-img-wrapper p-0">
      <a routerLink="/articles/{{article.urlIdentity}}"><img src="{{'./assets/default.jpg'}}" class="card-img" alt="..."></a>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <a routerLink="/articles/{{article.urlIdentity}}"><h5 class="card-title mb-1">{{article.title}}</h5></a>
        <span class="headline" [innerHTML]="article.headline || (article.contents | slice:0:100 ) + '...'"></span>
        <br>
        <small class="card-text author text-muted" routerLink="/users/{{article.authorPublicName}}">
          {{article.authorPublicName}}
        </small>
        |
        <small class="card-text text-muted">
          {{article.dateCreated | date}}
        </small>
      </div>
    </div>
  </div>
</div>

